<!DOCTYPE html>
<hml>
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
     {{> header }}

     <p>Profile</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In, consectetur enim odit quos, explicabo maiores eaque nesciunt
    quasi, repudiandae iure facilis recusandae! Atque beatae velit odio reiciendis excepturi fugit quos!</p>
    
     {{> footer }}
  </body>
</hml>