<!DOCTYPE html>
<hml>
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
  </head>
  <body>
     {{> header }}

     <p>Projects</p>
     <ul>
       <li>Project 1</li>
       <li>Project 2</li>
       <li>Project 3</li>
       <li>Project 4</li>
       <li>Project 5</li>
     </ul>
    
     {{> footer }}
  </body>
</hml>